.footer{
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: rgb(198, 81, 81);


}
.text-justified{
    text-align: justify;
}

.dropdown-menu{
    padding: 15px; 
}

.form-control{
    margin-bottom: 10px;
}

#email.form-control{
    width: 170px;
    margin-left: 8px;

}

#password.form-control{
    width: 170px;
    margin-left: 8px;
}

input[type="checkbox"]{
    margin-left: 8px;
}

.input#sing-in.btn.btn-primary.btn-block{
    width: 142px;
    margin-left: 23px;

}

label{
    margin-bottom: 10px;
}

.formulario{
    margin-bottom: 50px;
}

.formulario h2{
    margin-bottom: 50px;
}

.description{
    background: #e3e3e3;
    padding: 20px 0;
    text-align: center;	
}

.bold{
    font-weight: bold;
}

.search{
    padding: 50px 0;
}

.row{
    margin-top: 25px;
    margin-bottom: 25px;
}

.w
{
    width: 140px;
}

.navbar-form {
    padding: 0;
    margin-top: 0;
}

input[type="file"]{
    width: 155px;
}
/* Customize container */
@media (min-width: 768px) {
    .contenedor {
        max-width: 900px;
    }
}
/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.centrado{
    margin-left: 250px;
}
.centradito{
    margin-left: 120px;
}
.row_color{
    background: #C0C0C0;
}

.row_header {
    margin-top: 8px;
    margin-bottom: 8px;
}

.centrado1{
    margin-left: 150px;
}

.centrar_imagen{
    margin: auto;
}



.badge-success{
    background-color: green;
}
.badge-cancel{
    background-color: goldenrod;
}
.badge-falta{
    background-color: orangered;
}
.badge-other{
    background-color: hotpink;
}
.color1{
    background-color: #2F699F;
    color: rgb(24, 24, 24);
}
.color2{
    background-color: #C65151;
}
.nav-text{
    color: rgb(253, 253, 253);
}

.redondear{
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
/*****************************/
.nav-justified {
    width: 100%;
}
.nav {
    padding-left: 0;
}
.nav-justified {
    background-color: rgb(198, 81, 81);
}
.nav-justified > li > a {
    color: #fff;
    font-weight: bold;
    background-color: #974635; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, rgb(198, 81, 81) 0%, rgb(198, 81, 81) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#974635), color-stop(100%,#974635)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgb(198, 81, 81) 0%,rgb(198, 81, 81) 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -o-linear-gradient(top, rgb(198, 81, 81) 0%,rgb(198, 81, 81)100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    color: #fbed50;
    background-color: rgb(184, 64, 64);
    background-image: none;
    box-shadow: inset 0 3px 7px rgb(184, 64, 64);

}
.nav-justified >.barra >a:hover,
.nav-justified >.barra >a:focus{
    background-color: rgb(184, 64, 64);
    background-position: 0 -45px;
}

@media (min-width: 768px) {
    .nav-justified > li > a {
        border-left: 1px solid #fff;
        border-right: 1px solid #d5d5d5;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-radius: 0 5px 5px 0;
        border-right: 0;
    }
}
.logo:hover,
.logo:focus {
    color: #f5f5f5;

}
.navegar:hover,
.navegar:focus {
    background-color:#fbed50;

}
.color3{
    background-color: rgb(242, 242, 242);
}
.registro:hover, .registro:focus {
    color: rgb(60, 18, 18);
}
.olvido:hover, .olvido:focus {
    color: #0044cc;
    text-decoration: underline;
}


#centrar {
    margin-top: 70px;
    padding-top: 30px;
}