 <div class="container">

    <div class="row formulario">
      <div class="col-sm-offset-4 col-sm-4">

        <h2 class="text-center">INICIAR SESION</h2>
        <form method="post" action="../usuario/index-user.html">
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
          </div>
          <div class="form-group">
            <label for="clave">Contraseña</label>
            <input type="password" class="form-control" id="clave" placeholder="Password" required>

          </div>
          <button type="submit" class="btn btn-primary">Sing in</button>
        </form>
        <
      </div>
    </div>
  </div>
<div class="footer">
    <div class="container">
        <p class="text-muted credit text-center">
          <span class="bold">© Tienda Virtual 2013</span>
          <span class="pull-right hidden-sm">
          <a href="#">Subir</a></span>
        </p>
        
        
    </div>
 </div>

      <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>

